/* Define the screen */
body {
    background-color: Black;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper, #table-wrapper {
    margin: auto;
    height: 95vh;
}

#clock {
    font-size: 8em;
    font-weight: Bold;
    color: white;
    text-align: center;
}

#date, #dayOfWeek, #year {
    font-size: 5em;
    color: white;
    text-align: center;
}
